
<h1 mat-dialog-title>Nuevo Cliente</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdSucursal</mat-label>
        <input matInput placeholder="Ingresa el IdSucursal" [(ngModel)]="IdSucursal">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdCliente</mat-label>
        <input matInput placeholder="Ingresa el IdCliente" [(ngModel)]="IdCliente">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdVendedor</mat-label>
        <input matInput placeholder="Ingresa el IdVendedor" [(ngModel)]="IdVendedor">
      </mat-form-field>
    </div>
  </div>

  

  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>UsuarioActualiza</mat-label>
        <input matInput placeholder="Ingresa el UsuarioActualiza" [(ngModel)]="UsuarioActualiza">
      </mat-form-field>
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)="insertar()">Insertar</button>
</div>
