<h1 mat-dialog-title>Nuevo Departamento</h1>
<div mat-dialog-content class="mat-dialog-grid">
  <!-- Fila para el formulario -->
  <div class="mat-dialog-row">
    <!-- Columna para el campo de nombre -->
    <div class="mat-dialog-cell">
      <mat-form-field>
        <mat-label>IdTipoMov</mat-label>
        <input matInput type="number" placeholder="Ingresa el nombre" [(ngModel)]="departamento.IdTipoMov">
      </mat-form-field>

      <mat-form-field>
        <mat-label>IdAlmacen</mat-label>
        <input matInput type="number" placeholder="Ingresa el IdAlmacen" [(ngModel)]="departamento.IdAlmacen">
      </mat-form-field>

      <mat-form-field>
        <mat-label>UsuarioActualiza</mat-label>
        <input matInput type="number" placeholder="Ingresa el UsuarioActualiza" [(ngModel)]="departamento.UsuarioActualiza" step="1">
      </mat-form-field>
      

      <mat-form-field>
        <mat-label>Estatus</mat-label>
        <input matInput type="number" placeholder="Ingresa el Estatus" [(ngModel)]="departamento.Estatus" step="1">
      </mat-form-field>
      
    </div>
  </div>
  <!-- Puedes agregar más filas con más campos aquí -->
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="guardar()">Guardar Cambios</button>
</div>
