<mat-sidenav-container class="sidenav-container fondo-negro">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <!-- Contenido del menú -->
    <mat-nav-list class="barra">
      <a mat-list-item routerLink="/articulos">
        <mat-icon>description</mat-icon>
        <span>Articulos</span>
      </a>
      <a mat-list-item routerLink="/clientes">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </a>
      <a mat-list-item routerLink="/existencias">
        <mat-icon>store</mat-icon>
        <span>Existencias</span>
      </a>
      <a mat-list-item routerLink="/rutas">
        <mat-icon>map</mat-icon>
        <span>Rutas</span>
      </a>
      <a mat-list-item routerLink="/tickets">
        <mat-icon>receipt</mat-icon>
        <span>Tickets</span>
      </a>
      <a mat-list-item routerLink="/detalletickets">
        <mat-icon>receipt_long</mat-icon>
        <span>Detalle Tickets</span>
      </a>
      <a mat-list-item routerLink="/movimientosinventario">
        <mat-icon>swap_horiz</mat-icon>
        <span>Movimientos Inventario</span>
      </a>
      <a mat-list-item routerLink="/personas">
        <mat-icon>people</mat-icon>
        <span>Personas</span>
      </a>
      <a mat-list-item routerLink="/detallemovimiento">
        <mat-icon>list_alt</mat-icon>
        <span>Detalle Movimiento</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="warning">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Contenido de la página principal -->

    <!-- Resto de tu código -->
    <div class="menu-container">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar..."
          #input
        />
      </mat-form-field>

      <div class="toolbar">
        <button mat-button (click)="abrirInsertarModal()" class="orange-button">
          Insertar DetalleTicket
        </button>
      </div>
    </div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let departamento">{{ departamento.Id }}</td>
    </ng-container>
    <ng-container matColumnDef="Codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
      <td mat-cell *matCellDef="let departamento">{{ departamento.Codigo }}</td>
    </ng-container>
    <ng-container matColumnDef="IdTicket">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IdTicket</th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.IdTicket }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.Cantidad }}
      </td>
    </ng-container>
    <ng-container matColumnDef="PrecioVenta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PrecioVenta</th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.PrecioVenta }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Estatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.Estatus }}
      </td>
    </ng-container>
    <ng-container matColumnDef="FechaActualiza">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaActualiza</th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.FechaActualiza }}
      </td>
    </ng-container>
    <ng-container matColumnDef="UsuarioActualiza">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        UsuarioActualiza
      </th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.UsuarioActualiza }}
      </td>
    </ng-container>
    <ng-container matColumnDef="DescripcionArticulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        DescripcionArticulo
      </th>
      <td mat-cell *matCellDef="let departamento">
        {{ departamento.DescripcionArticulo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let elemento">
        <mat-icon (click)="abrirEditarModal(elemento)">edit</mat-icon>
        <mat-icon (click)="eliminarDepartamento(elemento.Id)">delete</mat-icon>
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
